.btn-delete {
  z-index: 2;
}

.event {
  background-color: #ccc;
}

.event-count-label {
  background-color: #aaa;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 0.8rem;
  height: 1.2rem;
  width: 1.2rem;
  pointer-events: none;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}

.event-time {
  display: inline-block;
  font-weight: 600;
}
